h1 {
  display: flex;
  justify-content: center
}
table{
  border-spacing: 0px;
  border: 1px solid black;
}
#banner{
  font-size: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
#board {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.newGame {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.square {
  /* lbackground-color: gray; */
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  transition: background-color .3s
}

.square:hover{
  background-color: lightgray
  ;
}